REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/1

# Github
GITHUB_WEBHOOK_SECRET=
GITHUB_APP_ID=
GITHUB_PRIVATE_KEY_B64=

# Environment
ENV=development

API_PREFIX=/api/v1

# LLM
ANTHROPIC_API_KEY=
